#form{
    background-color: #ffffff;
}
#form #contenedor{
    background-color: #eeeeee;
    border-radius: 5px;
}
#form QPushButton{
    background-color: #00b9da;
    font: 100 12pt "Cooper Black";
    color: #000000;
    border: 0px solid transparent;
    border-radius: 10px;
}

#form  QWidget QLabel{
    background-color: transparent;
    color: black;
    font: 1 12pt "Cooper Black";
    text-align: center;
}
#form QWidget QLineEdit{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:1px solid #000000;
    color: #000000; /* Texto en negro para campos de entrada */
}
#form QWidget QDateEdit{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:1px solid #000000;
    color: #000000;
}
#form QComboBox{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:1px solid #000000;
    color: #000000; 
}
#form QTextEdit{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:1px solid #000000;
    color: #000000; 
}
#form #form QDateEdit{
    background-color:transparent;
    font-size:15px;border:none;
    border-bottom:1px solid #000000;
    color: #000000; /* Texto en negro para campos de fecha */
}

#form #lblerror{
    background-color: transparent;
    font: 1 8pt "Arial";
    color: #ba0000; /* Texto en negro para el título */
}
#form  #lbltitulo{
    background-color: transparent;
    color: black;
    font: 1000 25pt "Cooper Black";
}
#form  #lblsubtitulos{
    background-color: transparent;
    color: black;
    font: 1000 14pt "Cooper Black";
}
#form #foto{
    border-radius:0%;
    border-color: #000000;
}QScrollArea {
    background: transparent; /* Fondo transparente del área de scroll */
    border: none; /* Sin bordes */
}

QScrollArea > QWidget {
    background: transparent; /* Asegura que el contenido también sea transparente */
}

QScrollBar:vertical, QScrollBar:horizontal {
    background: transparent; /* Fondo transparente del scroll */
    border: none; /* Sin bordes en el scroll */
    width: 10px; /* Ajusta el ancho de la barra (vertical) */
    height: 10px; /* Ajusta el alto de la barra (horizontal) */
}

QScrollBar::handle {
    background: #00bcd4; /* Color del "control deslizante" */
    border-radius: 5px; /* Esquinas redondeadas */
}

QScrollBar::add-line, QScrollBar::sub-line {
    background: none; /* Sin botones adicionales */
    border: none;
}

#form #btncancelar{
    background-color:#325fc6 ;
    border-radius: 5px;
    color:#ffffff;
    font: 10 13pt "Cooper Black";
}
#form #btncancelar::Hover{
    background-color: #213a75;
}
#form #btnregistrar{
    background-color: #409da1;
    border-radius: 5px;
    color:#ffffff;
    font: 10 13pt "Cooper Black";
}
#form #btnregistrar::hover{
    background-color:#00627d;
}

