QDialog{
    background-color: #ffffff;
}


QGroupBox {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    color: #000000;
    font: 1 11pt "Arial";
}

QLabel{
    font: 1 10pt "Cooper Black";
    color:#000000;
}

QLineEdit{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:2px solid #000000;
    color: #000000; /* Texto en negro para campos de entrada */
}
QDateEdit{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:1px solid #000000;
    color: #000000;
}
QComboBox{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:1px solid #000000;
    color: #000000; 
}
QComboBox QAbstractItemView {
    color: #000000;
    border: none;
    border-left: 2px solid #325fc6;
    border-right: 2px solid #325fc6;
    background-color: #ffffff;
}

QComboBox QAbstractItemView::item:hover {
    color: #000000;
    border: none;
    border-left: 4px solid #325fc6;
    border-right: 4px solid #325fc6;
    background-color: #dddddd;
}

QCheckBox{
    font: 1 10pt "Cooper Black";
    color:#000000;
}

#btncancelar{
    background-color:#325fc6 ;
    border-radius: 5px;
    color:#ffffff;
    font: 10 13pt "Cooper Black";
}

#btncancelar::Hover{
    background-color: #213a75;
}
#btngenerar{
    background-color: #409da1;
    border-radius: 5px;
    color:#ffffff;
    font: 10 13pt "Cooper Black";
}
#btngenerar::hover{
    background-color:#00627d;
}
#btnexaminar{
    background-color: #409da1;
    border-radius: 5px;
    color:#ffffff;
    font: 10 13pt "Cooper Black";
}
#btnexaminar::hover{
    background-color:#00627d;
}