#form{
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

#form #formFrame{
    background-color:#ffffff;
    border: 1px solid #007286;
    border-radius: 10px;
}

#form #contenedor{
    background-color: #eeeeee;
    border-radius: 5px;
}

#form QCheckBox{
    font: 1 10pt "Arial";
    color:#000000;
}

#form QCheckBox{
    font: 1 10pt "Arial";
    color:#000000;
    background-color: transparent;
}

#form QCheckBox::indicator {
    width: 15px; /* Tamaño del cuadro */
    height: 15px;
    border-radius: 5px;
    background-color: #ffffff;
}

#form QCheckBox::indicator:unchecked {
    background-color: #ffffff; /* Color cuando está desmarcado */
    border: 2px solid #000000;
}

#form QCheckBox::indicator:checked {
    background-color: lightgreen; /* Color cuando está marcado */
    border: 2px solid green;
}

#form #titulo{
    background-color: transparent;
    font: 10 20pt "Cooper Black";
}
#form QLabel{
    background-color: transparent;
    font: 10 13pt "Cooper Black";
    color: #000000; /* Texto en negro para el título */
}
#form #lblerror{
    background-color: transparent;
    font: 1 8pt "Arial";
    color: #ba0000; /* Texto en negro para el título */
}

#formFrame QPushButton{
    background-color: #dadada;
    color: #000000;
    font: 10 12pt "Arial";
    border-radius: 5px;
    border: 1px solid #818181;
}

#form QTimeEdit {
    background-color: transparent;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    /* Texto en negro para campos de tiempo */
}

#form QLineEdit{
    background-color:transparent;
    font-size:15px;border:none;
    border-bottom:1px solid #000000;
    color: #000000; /* Texto en negro para campos de entrada */
    
}

#form QDateEdit{
    background-color:transparent;
    font-size:15px;border:none;
    border-bottom:1px solid #000000;
    color: #000000; /* Texto en negro para campos de fecha */
}

#form QComboBox{
    background-color:transparent;
    font-size:15px;border:none;
    border-bottom:1px solid #000000;
    color: #000000; /* Texto en negro para combo boxes */
}

#form QTextEdit{
    background-color:transparent;
    font-size:15px;border:none;
    border:1px solid #000000;
    color: #000000; /* Texto en negro para campos de texto */
}

#form #btncancelar{
    background-color:#325fc6 ;
    border-radius: 5px;
    color:#ffffff;
    font: 10 13pt "Cooper Black";
}
#form #btncancelar::Hover{
    background-color: #213a75;
}
#form #btnregistrar{
    background-color: #409da1;
    border-radius: 5px;
    color:#ffffff;
    font: 10 13pt "Cooper Black";
}
#form #btnregistrar::hover{
    background-color:#00627d;
}

#form #contenedor{
    background-color: #eeeeee;
    border-radius: 5px;
}

#foto{
    border-radius:0%;
    border-color: #000000;
}
#form  QWidget QLabel{
    background-color: transparent;
    color: black;
    font: 1 12pt "Cooper Black";
    text-align: center;
}
#form QWidget QLineEdit{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:2px solid #000000;
    color: #000000; /* Texto en negro para campos de entrada */
}
#form QWidget QLineEdit[telValido="true"]{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:2px solid #00cb00;
    color: #000000; /* Texto en negro para campos de entrada */
}
#form QWidget QLineEdit[telValido="false"]{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:2px solid #cb0000;
    color: #000000; /* Texto en negro para campos de entrada */
}

#form QWidget QDateEdit{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:1px solid #000000;
    color: #000000;
}

#form #select_foto{
    background-color: #d5d5d5;
    border-radius: 5px;
    color:#000000;
    font: 10 13pt "Cooper Black";
}
#form #select_foto::hover{
    background-color:#979797;
}

#form #select_foto::Pressed{
    background-color: #00a5cf;
    color:#FFFFFF;
}

QComboBox{
    background-color:transparent;
    font-size:15px;
    border:none;
    border-bottom:1px solid #000000;
    color: #000000; 
}
QComboBox QAbstractItemView {
    color: #000000;
    border: none;
    border-left: 2px solid #325fc6;
    border-right: 2px solid #325fc6;
    background-color: #ffffff;
}

QComboBox QAbstractItemView::item:hover {
    color: #000000;
    border: none;
    border-left: 4px solid #325fc6;
    border-right: 4px solid #325fc6;
    background-color: #dddddd;
}

QTreeView{
    background-color: #ffffff;
}

/* Estilo para el encabezado del QTreeView */
QHeaderView::section {
    background-color: #4cacaf; /* Color de fondo */
    color: white; /* Color del texto */
    font: 1 12pt "Cooper Black";
    padding: 5px; /* Espaciado interno */
    border: none; /* Borde */
}

/* Estilo para las ramas del QTreeView */
QTreeView::item {
    color: #000000; /* Color del texto */
    background-color: #F1F1F1; /* Color de fondo */
    padding: 5px; /* Espaciado interno */
    border: 1px solid #DDD; /* Borde */
}
#btneliminar{
    background-color:#ff5151;
    color:white;  
}
#btneliminar::hover{
    background-color:rgb(255, 0, 0);
    color:rgb(0, 0, 0);  
}