#vistaPrincipal #frameFondoPrincipal{
    background-color:#CCCCCC;
}
/* Estilos para el encabezado */
#frameEnca{
    background-color:#EEEEEE;
    border-radius:10px;
}

#frameEnca QLabel{
    background-color:transparent;
    color: #000000; /* Asegura que el texto del encabezado esté en negro */
    font: 100 18pt "Cooper Black";
}
#frameEnca #iconoUser{
    background-color:transparent;
    border: 2px solid #000000;
    border-radius: 25px;
}


#frameEnca QPushButton{
    border-radius:10px;
    background-color:#FFFFFF;
    font: 100 12pt "Cooper Black";
}

#frameEnca QPushButton::Hover{
    background-color:#c5c5c5;
}

#frameEnca QPushButton::Pressed{
    background-color:#0000ff;
    color:#FFFFFF;
}

#widgetDefault QFrame{
    background-color:#FFFFFF;
    border-radius:10px;
}
#widgetDefault QLabel{
    background-color:transparent;
    color: #000000; /* Asegura que el texto del encabezado esté en negro */
    font: 100 30pt "Cooper Black";
}