#admin QFrame{
    background-color:#FFFFFF;
    border-radius:10px;
}
#admin QPushButton{
    border-radius:10px;
    background-color:#004e64;
    font: 50 10pt "Cooper Black";
    color:#FFFFFF;
}

#admin QPushButton::Hover{
    background-color:#00708f;
}

#admin QPushButton::Pressed{
    background-color:#00a9d8;
    color:#000000;
}
#admin QPushButton:disabled {
    background-color: #BBBBBB;
    color:  #999999;
}


#admin QLineEdit{
    background-color:transparent;
    font-size:15px;border:none;
    border-bottom:1px solid #000000;
    color: #000000; /* Texto en negro para el campo de entrada */
}
#admin QLabel{
    background-color:transparent;
    font: 10 10pt "Cooper Black";
}
#admin #titulo{
    background-color:transparent;
    font: 10 20pt "Cooper Black";
}

QTableWidget {
    background-color: #AAAAAA;
    border-radius:10px;
    border:1px solid #000000;
    font: 50 10pt "Arial";
}

QTableWidget::item {
    background-color: #FFFFFF; 
}
 QTableWidget::item:alternate {
        background-color: #d0d0d0;
}

QTableWidget::item:selected {
    background-color:transparent;
}

QHeaderView::section {
    background-color: #004e64;
    color: #FFFFFF; 
    padding: 0px; 
    font: 50 12pt "Cooper Black";
    border-left:1px solid #FFFFFF;
}

QHeaderView::section:first {
    border-top-left-radius: 10px;
}

QHeaderView::section:last {
    border-top-right-radius: 10px;
}

QTableWidget #btneliminar{
    background-color:#ff5151;
    color:white;  
}
QTableWidget #btneliminar::hover{
    background-color:#ff0000;
    color:white;  
}

QTableWidget #btneditar{
    background-color:#00b800;
    color:white;
}
QTableWidget #btneditar::hover{
    background-color:#00a800;
    color:white;
}

QScrollBar:vertical {
    border: none;
    background: #f0f0f0; /* Color de fondo de la barra */
    width: 15px; /* Ancho de la barra */
    margin: 22px 0 22px 0; /* Margen para centrar la barra */
}

QScrollBar::handle:vertical {
    background: #126398; /* Color del "handle" (parte que se mueve) */
    min-height: 20px; /* Altura mínima del "handle" */
}

QScrollBar::add-line:vertical, 
QScrollBar::sub-line:vertical {
    background: none; /* Sin fondo para las flechas */
}

QScrollBar::up-arrow:vertical, 
QScrollBar::down-arrow:vertical {
    background: none; /* Sin flechas */
}

QScrollBar::handle:vertical:hover {
    background: #115d7b; /* Color del "handle" al pasar el mouse */
}

/* Estilo para la barra de desplazamiento horizontal */
QScrollBar:horizontal {
    border: none;
    background: #D4D4D4; /* Color de fondo de la barra horizontal */
    height: 16px; /* Altura de la barra horizontal */
    margin: 0 22px 0 22px; /* Margen para centrar la barra horizontal */
    border-radius:2px
}

QScrollBar::handle:hover {
    background: #115d7b; /* Color del "handle" horizontal al pasar el mouse */
}


